.product-category-container {
    padding-top: 117px;
}
.product-category_title {
    width: 511px;
    color: #000;
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 59px;
}
.product-image_bg {
    position: relative;
    width: 70px;
    height: 70px;
    background-image: url(../../assets/img/threadRound.png);
    border-radius: 50%;
    margin-bottom: 18px;
}
.product-image_bg img {
    position: absolute;
    bottom: 0;
    /* right: 0; */
}
.product-image2_bg {
    width: 70px;
    height: 70px;
    background-image: url(../../assets/img/tshirtsmallRound.png);
    border-radius: 50%;
    margin-bottom: 18px;
    /* padding-top: 15px;
    padding-left: 5px; */
  
}
.product-category_box {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.product-category_name {
    color: #121212;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 23px;
    width: 250px;
}
.product-category_text {
    color: #000;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}
.product-category_card {
    margin-right: 76px;
    margin-bottom: 81px;
}